

/* Estilos para el texto dentro de las cartas */
.MuiCardContent-root {
  font-family: 'Roboto', sans-serif;
  color: rgb(300,100,0); 
    }

.expanded {
  height: auto !important;
}

.feature-card {
  background-color: black;
   height: 50px; 
  transition: height 0.3s; 
  overflow: hidden; 

}

.feature-card:hover {
  transform: translateY(-5px); 
}

.card_text{
    font-size: 4px;
    text-align: center;
    font-family: 'Roboto';
    
}

.feature-card.expanded {
  height: auto; 
}

