@keyframes shine-gold {
    0% {
        clip-path: inset(0% 100% 0% 0%);
    }
    25% {
        clip-path: inset(0% 0% 0% 0%);
    }
    50% {
        clip-path: inset(0% 0% 0% 100%);
    }
    75% {
        clip-path: inset(0% 100% 0% 0%);
    }
    100% {
        clip-path: inset(0% 100% 0% 0%);
    }
}

.shine-gold {
    position: relative;
    display: inline-block;
    border: 3px solid rgba(255, 217, 0, 0.587);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.shine-gold::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100.1%;
    height: 100%;
    border: 5px solid rgba(255, 217, 0, 0.587);
    box-sizing: border-box;
    clip-path: inset(0% 100% 0% 0%);
    animation: shine-gold 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    filter: blur(4px); /* Ajusta el valor del blur según sea necesario */
}


.recipe-card {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.recipe-card.shine {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.recipe-card:hover .editIcon {
    visibility: visible;
}

.editIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(121, 121, 121, 0.208);
    z-index: 10;
    visibility: visible;
}

.progressBarContainer {
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    display: flex;
    align-items: center;
}

.progressBar {
    width: 100%;
}

.progressChip {
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translateX(-50%);
    pointer-events: auto;
}

.pin {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(132, 132, 132, 0.5);
    position: relative;
}

.pin .mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pin .contenido {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.389);
    position: absolute;
    bottom: -105px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px 15px;
}

.pin:hover .contenido {
    bottom: 0;
    transition: bottom 0.3s;
}

.pin .fav {
    top: 5%;
    right: 15px;
    color: greenyellow;
    margin: 5px;
}

.pin .nombreReceta {
    color: whitesmoke;
    font-size: 15px;
    margin: 20px;
}

.pin.small {
    grid-row-end: span 26;
}

.pin.medium {
    grid-row-end: span 33;
}

.pin.large {
    grid-row-end: span 45;
}

.empezar {
    text-align: center;
    font-size: 23px;
}
