.recipe-card .editIcon {
    visibility: hidden;
}

.recipe-card:hover .editIcon {
    visibility: visible;
}

.editIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(121, 121, 121, 0.208);
    z-index: 10;
}

.progressBar {
    z-index: 1;
    background: rgb(252, 176, 69);
    background-image: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(252, 118, 118) 100%);
    box-shadow: -1px 0px 15px #767676;
}


.progressBarBack {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;

}

.pin {
    border-radius: 16px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(132, 132, 132, 0.5);
    position: relative;
}


.edit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(161, 245, 5, 0.9);
    transition: opacity 0.3s ease;
    border-radius: 30px;
}

.edit:hover {
    opacity: 0.7;
}


.pin .mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pin .contenido {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.389);
    position: absolute;
    bottom: -105px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px 15px;
}

.pin:hover .contenido {
    bottom: 0;
    transition: bottom 0.3s;
    ;
}

.pin:hover .edit {
    bottom: 0;
    transition: bottom 0.3s;
    ;
}

.pin .fav {
    top: 5%;
    right: 15px;
    color: greenyellow;
    margin: 5px;
}

.pin .nombreReceta {
    color: whitesmoke;
    font-size: 15px;
    margin: 20px;
}



.pin.small {
    grid-row-end: span 26;
}

.pin.medium {
    grid-row-end: span 33;
}

.pin.large {
    grid-row-end: span 45;
}

.empezar {
    text-align: center;
    font-size: 23px;
}