.dialog-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  height: 100%;
  padding: 0;
}

.image-container {
  overflow: hidden;
  height: 100%;
  
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-container {
  padding: 16px;
}

.paso {
  transition: filter 0.3s ease;
}

.blurry {
  filter: blur(5px);
  opacity: 0.5;
}

.visible {
  filter: none;
  opacity: 1;
}
